# Ignore all .env files in all folders
*.env
*.env.*

backend/.ropeproject/
backend/KMS/
backend/__pycache__/
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPBwHzsslGt0HosPhlVn38JQnTk3XhJiePyvjcAJD+nl yasasbanukaofficial@gmail.com
