.logoText {
    display: flex;
}

.travel,
.op {
    color: white;
    font-size: 1.8rem;
    font-style: normal;
    line-height: 48px;
}

.op {
    font-weight: 200;
}

.travel {
    font-weight: 600;
}
