.header {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.navbarWrapper {
    margin-top: 2.375rem;
    margin-right: 1.1rem;
}

.logoContainer {
    margin-top: 2.85rem;
    margin-left: 5.87rem;
}
