.popUpContainer {
    max-width: 30vw;
    padding: 3vh 2vw;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    border-radius: 30px;
    border: white solid 1.5px;

    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popUpTitle {
    color: #fff;
    font-family: Michroma;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
}

.popUpDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #e5e5e5;
    font-family: MuseoModerno;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4vh;
    text-align: justify;
}
