.bar {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
    width: fit-content;
}
